.index-loadmore[data-v-3d8ac645] {
  text-align: center;
  line-height: 3;
  color: #999
}
.shoplist[data-v-3d8ac645] {
  background-color: #fff
}
.nodatatip[data-v-3d8ac645] {
  margin-top: 2.666667rem
}
a[data-v-98a11d7e] {
  text-decoration: none
}
ul[data-v-98a11d7e] {
  margin: 0;
  padding: 0;
  list-style: none
}
.filter[data-v-98a11d7e] {
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  height: 1.066667rem;
  line-height: 1.04rem;
  z-index: 100
}
.filter-header[data-v-98a11d7e] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  background-color: #fff
}
.filter-nav[data-v-98a11d7e] {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 0;
  text-align: center;
  color: #666;
  position: relative;
  font-size: .346667rem
}
.filter-nav[data-v-98a11d7e]:after {
  content: "";
  background: #ddd;
  width: 1px;
  height: .56rem;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.filter-nav.active[data-v-98a11d7e] {
  color: #3190e8
}
.filter-nav.active>svg[data-v-98a11d7e] {
  fill: currentColor;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.filter-nav>svg[data-v-98a11d7e] {
  width: .24rem;
  height: .106667rem;
  margin-bottom: .053333rem;
  fill: #999;
  will-change: transform;
  -webkit-transition: all .3s;
  transition: all .3s
}
.filter-nav-more.active svg[data-v-98a11d7e] {
  fill: #3190e8;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}
.filter-nav-arrow[data-v-98a11d7e] {
  display: inline-block;
  vertical-align: middle;
  width: .24rem
}
.filter-extend[data-v-98a11d7e] {
  left: 0;
  right: 0;
  top: 100%;
  border-top: 1px solid #ddd;
  position: absolute;
  max-height: 0;
  background-color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  visibility: hidden;
  overflow: auto;
  opacity: 0;
  z-index: 3
}
.filter-extend.filter-more[data-v-98a11d7e] {
  padding-bottom: 1.466667rem
}
.filter-extend.open[data-v-98a11d7e] {
  opacity: 1;
  visibility: visible;
  max-height: 1000%
}
.filter-category[data-v-98a11d7e] {
  height: 1000%
}
.filter-modal[data-v-98a11d7e] {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out
}
.filter-modal.open[data-v-98a11d7e] {
  opacity: 1;
  visibility: visible
}
.filter-category {
  z-index: 200;
  padding-bottom: 0;
  color: #666
}
.filter-category .loading {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #999
}
.filter-category .filter-scroller, .filter-category .loading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%
}
.filter-category ul {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.filter-category ul:first-child {
  background-color: #f2f2f2
}
.filter-category ul:first-child li {
  padding: 0 .133333rem 0 .266667rem
}
.filter-category ul:first-child .icon {
  margin-right: .133333rem;
  width: .453333rem;
  vertical-align: middle
}
.filter-category ul:nth-of-type(2) {
  margin-left: .4rem;
  padding-right: .133333rem
}
.filter-category ul:nth-of-type(2) li {
  border-bottom: 1px solid #ddd
}
.filter-category ul:nth-of-type(2) li.active, .filter-category ul:nth-of-type(2) li.active .count {
  color: #3190e8
}
.filter-category ul:nth-of-type(2) .count {
  right: .266667rem;
  background-color: transparent;
  color: #999
}
.filter-category li {
  position: relative;
  line-height: 1.333333rem
}
.filter-category li.active {
  background-color: #fff
}
.filter-category .count {
  position: absolute;
  right: .666667rem;
  line-height: .373333rem;
  top: 50%;
  margin-top: -.186667rem;
  border-radius: .266667rem;
  color: #fff;
  background-color: #ccc;
  padding: 0 .133333rem;
  font-size: .293333rem
}
.filter-category .arrow {
  position: absolute;
  font-weight: 700;
  right: .266667rem;
  top: 50%;
  width: .24rem;
  height: .24rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #999
}
.loading[data-v-d7cbbe24] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 10em;
  color: #999
}
.filter-scroller[data-v-d7cbbe24] {
  overflow: auto;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  line-height: normal
}
.filter-scroller dl[data-v-d7cbbe24] {
  margin: .266667rem 0;
  padding: 0 .4rem;
  overflow: hidden
}
.filter-scroller dt[data-v-d7cbbe24] {
  margin-bottom: .2rem
}
.filter-scroller dd[data-v-d7cbbe24] {
  margin: 0;
  float: left;
  width: 32%;
  margin-right: 2%;
  border: 1px solid #F9F9F9;
  padding: .173333rem 0;
  height: .933333rem;
  margin-bottom: .2rem;
  border-radius: .066667rem;
  box-sizing: border-box
}
.filter-scroller dd[data-v-d7cbbe24]:nth-of-type(3n) {
  margin-right: 0
}
.filter-scroller dd.selected[data-v-d7cbbe24] {
  border-color: #a2d2ff;
  color: #3190e8;
  background-color: #edf5ff
}
.filter-scroller dd.selected .fengniao[data-v-d7cbbe24], .filter-scroller dd.selected i[data-v-d7cbbe24] {
  display: none
}
.filter-scroller dd.selected .selected-icon[data-v-d7cbbe24] {
  display: inline-block
}
.filter-scroller .fengniao[data-v-d7cbbe24], .filter-scroller .selected-icon[data-v-d7cbbe24] {
  display: none;
  margin: 0 .066667rem 0 .2rem;
  width: .506667rem;
  height: .506667rem;
  vertical-align: middle
}
.filter-scroller .fengniao[data-v-d7cbbe24] {
  display: inline-block
}
.filter-scroller i[data-v-d7cbbe24] {
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  border-width: 1px;
  margin: 0 .066667rem 0 .2rem;
  border-style: solid;
  width: .506667rem;
  line-height: .48rem;
  text-align: center;
  border-radius: .08rem;
  font-size: .32rem;
  box-sizing: border-box
}
.filter-scroller span[data-v-d7cbbe24] {
  vertical-align: middle
}
.filter-btn[data-v-d7cbbe24] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #eee;
  background-color: #fafafa;
  padding: 0 .133333rem;
  height: 1.466667rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.filter-btn a[data-v-d7cbbe24] {
  font-size: .48rem;
  line-height: 1.093333rem;
  border-radius: .08rem;
  text-align: center;
  text-decoration: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 0
}
.filter-btn a[data-v-d7cbbe24]:first-child {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: .266667rem;
  color: #333
}
.filter-btn a[data-v-d7cbbe24]:last-child {
  color: #fff;
  background-color: #56d176;
  border: 1px solid #56d176
}
ul[data-v-fd238482] {
  list-style: none;
  margin: 0;
  padding: 0
}
.filter-sort[data-v-fd238482] {
  padding-bottom: 0
}
.filter-sort li[data-v-fd238482] {
  position: relative;
  padding-left: .4rem;
  line-height: 1.333333rem
}
.filter-sort li span, .filter-sort li svg {
  pointer-events:none
}
.filter-sort svg[data-v-fd238482] {
  width: .4rem;
  height: .4rem;
  margin-right: .266667rem;
  vertical-align: middle
}
.filter-sort li[data-v-fd238482]:not(:last-child):after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 1.066667rem;
  right: 0;
  height: 1px;
  background-color: #ddd
}
.filter-sort li[data-v-fd238482]:active {
  background-color: #f9f9f9
}
.filter-sort li.active[data-v-fd238482] {
  color: #0089dc
}
.filter-sort li.active .selected[data-v-fd238482] {
  display: block
}
.filter-sort .selected[data-v-fd238482] {
  position: absolute;
  right: 0;
  top: 50%;
  display: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}